html {
	margin:0;
	padding:0;
}

body {
	font-family: Roboto, Helvetica Neue, Helvetica, Arial;
	font-weight: 200;
	font-size: 14pt;
	background-color: #F9F9F9;
	width: 100%;
}

::selection {
       background-color: #8EE8BF;
       color: #000;
	}

h1, .test {
	margin-top: 150px;
	text-align: center;
	font-size: 60pt;
	font-weight: 100;
	border: 2px solid #363636;
	padding: 2% 0;
	letter-spacing: 3px;
	font-family: Roboto Condensed, Helvetica Neue, Helvetica, Arial;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 6px;
	font-weight: 200;
	font-size: 1.5em;
	margin: 0 auto;
	background-color: #E6E6E6;
	border-top: 1px solid #B3B3B3;
	border-bottom: 1px solid #B3B3B3;
	padding-top: 3%;
	padding-bottom: 3%;
	z-index: 5;
	display: block;
	color: #363636;
    margin: 50px auto;
}

h3 {
	font-weight: bold;
	font-size: 16pt;
}

a {
	color: grey;
}

/* Header */

.main-title {
	margin-top: 1%;
	margin-bottom: 1%;
}


/* End */

/* NAVBAR STUFF*/

nav {
	position: absolute;
	width: 100%;
}

.navbar {
	/* z-index: 999; */
	/* position: absolute; */
  width: 100%;
  left: 0;
	/* height: 40px; */
	background-color: rgba(73, 73, 73, 1);
	color: white;
	font-size: 10pt;
	text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.navbar a {
	color: white;
	height: 100%;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.navbar a:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 1);
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.navbar a:hover, .nav-bar a:focus, .nav-bar a:active {
  color: grey;
}
.navbar a:hover:before, .nav-bar a:focus:before, .nav-bar a:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

#end {
	border-right: solid 1px rgba(255, 255, 255, 0.15);
}

.nav-float {
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.nav-bar-ghost {
	opacity: 0.7;
  background-color: #6D6D6D;
}

/* End */

/* Product */

.sketch-copy {
	margin-top: 5%;
}

/* End */

/* Contact Page */

.contact-col {
	margin: 0 auto;
}

.contact-cell {
	display: inline-table;
	padding: 0 10px
}

.grey-map {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}


/* End */

/* Footer */

.footer {
	background-color: #494949;
	height: 110px;
	position: absolute;
	left: 0;
}

.footer-container {
	height: 100%;
	margin: 0 auto;
	display: block;
	align-items: center;
}

#social {
	display: block;
	filter: invert(100%);
	-webkit-filter: invert(100%);
	padding-left: 0;
}

#social li {
	display: inline-block !important; 
	width: 9%;
}

.soc-icon {
	width: 30px;
}

@media (min-width: 992px) {
	.soc-icon {
		width: 40px;
	}
	#social li {
		display: inline-block !important; 
		width: 13%;
	}
}

.footer-icon {
	filter: invert(100%);
	-webkit-filter: invert(100%);
	float: left;
}

.footer-info {
	font-size: 10pt;
	line-height: 14pt;
	color: #EAEAEA;
	list-style: none;
	padding: 0;
	float: left;
	margin: auto 0;
}
/* End */

/* Site-wide Classes */

.home-row {

}

.product-image {
	display: block;
	width: 100%;
	max-width: 800px;
}

.body-copy {
	padding: 0 5%;
	line-height: 1.4;
	color: #363636;
}

.animate {
	transition: all 0.7s ease-in-out 0s;
	-moz-transition: all 0.7s ease-in-out 0s;
	-webkit-transition: all 0.7s ease-in-out 0s;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(20%);
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;

	}
}

@keyframes fadeIn {
    0% {
		opacity: 0;
		transform: translateY(20%);
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.fadeInUp {
	animation-duration: 3s;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 3s;
	animation-name: fadeIn;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.blur-field {
	-webkit-filter: blur(2px);
}

/* End */